@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ClientCounter IncrementAmount="2" @rendermode="@RenderMode.WebAssembly" />
            @* <ClientCounterInServerProject IncrementAmount="2" @rendermode="@RenderMode.WebAssembly" /> *@

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
