@using Umbraco.Cms.Core.Web
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Models.PublishedContent
@attribute [RenderModeServer]


@foreach (var item in All)
{
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="@item.Url()">
            <span class="bi bi-list-nested" aria-hidden="true"></span> @item.Name
        </NavLink>
    </div>
}
<hr/>
 

 <button class="btn btn-secondary" @onclick="GoToBackoffice">Backoffice</button>
 
@code {

    [Inject]
    IUmbracoContextFactory context{ get; set; }
 
    [Inject]
    NavigationManager NavigationManager { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        using (var cref = context.EnsureUmbracoContext())
        {
            IPublishedContentCache? umbracoHelper = cref.UmbracoContext.Content;
            if (umbracoHelper != null)
            {
              
                var root = umbracoHelper.GetAtRoot().FirstOrDefault();
                if (root != null)
                {
                    All = root.Descendants().ToList();
                }

            }
        }
    }
    
    public List<IPublishedContent> All { get; set; } = new List<IPublishedContent>();

    public IPublishedContent? Model { get; set; }

    private void GoToBackoffice()
    {
        NavigationManager.NavigateTo("/umbraco", true);
    }
}
